$navbar-border-radius:				0 !default;

$navbar-light-color:                rgba(50,0,50,.3);
$navbar-light-hover-color:          rgba(0,50,0,.6);
$navbar-light-active-color:         rgba(50,0,50,.8);
$navbar-light-disabled-color:       rgba(0,0,0,.15);