.banner{
	font-family: 	$font-light;
	color: 			$flat-purple;
	font-size: 		4rem;
	text-align: 	center;
}

form.indexSearch{
	div.col-sm-10{
		padding-right: 0;
	}
	div.col-sm-2{
		padding-left: 0;
		.checkbox{
			font-size: .8rem;
			.c-input + .c-input{
				margin-left: 0;
			}
		}
	}
}

.howitworks{
	background-color: $flat-purple;
	color: $flat-white;
	h1{
		font-family: $font-thin;
	}
	h2{
		color: $white;
		font-family: $font-light;
	}
	p{
		font-size: .9rem;
	}
}

.features{
	background-color: $white;
	color: $flat-purple;
}

.numbers{
	color: $flat-purple;
	div{
		text-align: center;
		font-size: 2rem;
		ul{
			border-right: 1px solid $white-dark;
			padding: 0;
			li{
				display: inline-block;
				color: $flat-red;
				background-color: transparent;
				border-radius: 3px;
				border: 1px solid $white-dark;
				font-size: 3rem;
				padding: 3px 15px;
				margin: 0 5px;
			}
		}
		&:last-of-type ul{
			border-right: none;
		}
	}
}