#teachers{
	section{
		.col-sm-offset-4{
			h3{
				display: inline-block;
				margin-right: 1rem;
				padding-right: 1rem;
				border-right: 1px solid $white-dark;
			}
			a{
				font-size: .9rem;
			}
			ul{
				padding-left: 0;
				li{
					font-family: $font-medium;
					list-style-type: none;
					display: inline-block;
					margin: 0 .5rem;
					padding: .1rem 1rem .1rem;
					color: $flat-white;
					background-color: $flat-purple;
					&:first-child{
						margin-left: 0;
					}
					&:hover{
						cursor: pointer;
					}
				}
			}
		}
		h5{
			display: inline-block;
		}
	}

	aside{
		border-top: 1px solid $white-darker;
		padding-top: 1rem;
		p{
			font-size: .85rem;
			padding: 0.375rem 1.75rem 0.375rem 0.75rem;
			border: 1px solid #CCC;
		}
		.topics, .time{
			font-size: .8rem;
		}
		.feeRange{
			::-moz-range-track {
				background: #ccc;
				border: 0;
			}

			input::-moz-focus-inner { 
				border: 0; 
			}
			#feeInput{
				-webkit-appearance: none;
				width: 300px;
				height: 10px;
				border-radius: 5px;
				background: #ccc;
				outline: none;

				// Slider Handle
				&::-webkit-slider-thumb {
					-webkit-appearance: none;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					background: $flat-purple;
					cursor: pointer;
					-webkit-transition: background .15s ease-in-out;
					transition: background .15s ease-in-out;

					&:hover {
						background: $flat-red;
					}
				}

				&:active::-webkit-slider-thumb {
					background: $flat-red;
				}

				&::-moz-range-thumb {
					width:20px;
					height: 20px;
					border: 0;
					border-radius: 50%;
					background: $flat-purple;
					cursor: pointer;
					-webkit-transition: background .15s ease-in-out;
					transition: background .15s ease-in-out;

					&:hover {
						background: $flat-red;
					}
				}

				&:active::-moz-range-thumb {
					background: $flat-red;
				}
			}
			span{
				display: inline-block;
				line-height: 20px;
				text-align: center;
				background-color: $flat-purple;
				color: $flat-white;
				padding: .2rem 1rem;
				border-radius: 2px;
			}
		}
	}
	main{
		border-top: 1px solid $white-darker;
		padding-top: 1rem;
		.card{
			div.row{
				div:first-child{
					padding-right: 5px;
				}
				div:last-child{
					padding-left: 0;
				}
			}
			.card-block{
				padding-top: 0;
				padding-bottom: 0;
				h4{
					margin-bottom: 0;
				}
				hr{
					margin: 0;
				}
				p.card-text{
					font-size: .85rem;
					margin-bottom: 0;
					&.footer{
						font-size: .8rem;
						display: inline-block;
						padding: 0 .1rem;
						&:last-child{
							border-left: 1px solid $white-darker;
						}
					}
				}
			}
		}
	}
}