$flat-purple:			#2C3E50 !default;
$flat-red:				#E74C3C !default;
$flat-white:			#ECF0F1 !default;
$flat-navy:				#3498DB !default;
$flat-blue:				#2980B9 !default;

$white:					#FFFFFF !default;
$white-dark: 			#DDDDDD	!default;
$white-darker: 			#BBBBBB	!default;
$white-darkest: 		#AAAAAA	!default;
$black-lightest: 		#999999	!default;
$black-lighter: 		#666666	!default;
$black-light: 			#333333	!default;
$black: 				#000000	!default;

$navbar-light-color:		$white;
$navbar-light-hover-color:	$flat-white;

$font-thin:				"robotothin","Helvetica Neue",Helvetica,Arial,sans-serif;
$font-light:			"robotolight","Helvetica Neue",Helvetica,Arial,sans-serif;
$font-regular:			"robotoregular","Helvetica Neue",Helvetica,Arial,sans-serif;
$font-medium:			"robotomedium","Helvetica Neue",Helvetica,Arial,sans-serif;
$font-bold:				"robotobold","Helvetica Neue",Helvetica,Arial,sans-serif;