@import "bootstrap/bootstrap";

@import "fonts";
@import "variables";
@import "utilities";

body {
	// Make the `body` use the `font-size-root`
	font-family: $font-regular;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';

	color: $flat-purple;

	outline: 0;
}

@import "navbar";
@import "footer";

@import "index";
@import "teachers";
@import "profile";
@import "signup";
/* ######################################## */
@import "test";